<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NameSpace.BlogMapper">
    <select id="selectBlog" resultType="com.wzh.mybatis_base.h2.Blog">
        select * from Blog where id = #{id}
    </select>
</mapper>